$sidebar-width: 42px;
$content-size: 28px;
$border-size: 1px;
$horizontal-padding: ($sidebar-width - $content-size) / 2;
$vertical-padding: $horizontal-padding;

$background-color: hsla(240, 8%, 19%, 1);
$border-color: hsla(240, 6%, 26%, .8);
$emphasis-color: hsla(0, 0%, 70%, .8);

$background-color-light: #fff;
$border-color-light: #fff;
$emphasis-color-light: hsla(0, 0%, 50%, 0.8);

.ApplicationLauncher {
  background-color: $background-color;
  border-right: solid $border-size $border-color;
  box-shadow: 3px 0 14px 2px rgba(0,0,0,.12);
  height: 100%;
  width: $sidebar-width + $border-size;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: $vertical-padding;

  &__Light {
    background-color: $background-color-light;
    border-right: solid $border-size $border-color-light;

    & .Application__Active:before {
      background-color: $emphasis-color-light;
    }
  }
}

.Application {
  position: relative;
  padding: $vertical-padding $horizontal-padding;
  width: 100%;
  height: $sidebar-width;

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: $vertical-padding;
    bottom: $vertical-padding;
    left: 0;
    border-radius: 0 2px 2px 0;
    width: 3px;
  }

  &__Active:before {
    background-color: $emphasis-color;
  }
}
