$sidebar-width: 42px;
$icon-size: 26px;
$horizontal-padding: ($sidebar-width - $icon-size) / 2;
$vertical-padding: 6px;

$background-color: hsla(240, 8%, 19%, 1);
$border-color: hsla(240, 6%, 26%, .8);
$emphasis-color: hsla(0, 0%, 70%, .8);

.ApplicationLauncher {
  background-color: $background-color;
  border-right: solid 1px $border-color;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  height: 100%;
  width: $sidebar-width;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: $vertical-padding;
}

.Application {
  position: relative;
  padding: $vertical-padding $horizontal-padding;

  img {
    width: $icon-size;
  }

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: $vertical-padding;
    bottom: $vertical-padding;
    left: 0;
    border-radius: 0 2px 2px 0;
    width: 3px;
  }

  &__Active:before {
    background-color: $emphasis-color;
  }
}
