.Application {
  opacity: .8;
  padding: 5px;

  &_Content {
    img {
      display: block;
      width: 100%;
    }
  }

  &:hover {
    background-color: darkgrey;
    opacity: 1;
  }

  &:hover &_Content {
    animation: bounce .3s;
    transform: scale(1.1);
  }

  &__Active {
    background: lightgrey;
    opacity: .9;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
